<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Add</title>
</head>
<body>
<div>
  <h3>Book Add</h3>
  <div>
    <form method="post">
      <div>
        <label>book name : </label>
        <input type="text" name="bookName">
      </div>

      <div>
        <label>publisher : </label>
        <input type="text" name="publisher">
      </div>

      <div>
        <label>price : </label>
        <input type="number" name="price">
      </div>

      <div>
        <button>submit</button>
        <a href="list"><button type="button">cancel</button></a>
      </div>
      
    </form>
  </div>
</div>
</body>
</html>